resume.json
{
  "name": "resume",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1456,
        -112
      ],
      "id": "9c4eae89-f4aa-4248-a960-0ed968d20a7c",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Us7NqZa4TiXnmrCb",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf2fd9ec-10c2-4d29-a235-40ef1f3c0709",
              "leftValue": "={{\n  $binary?.attachment_0?.fileName?.toLowerCase().endsWith(\".pdf\") ||\n  $binary?.attachment_0?.fileName?.toLowerCase().endsWith(\".docx\") ||\n  $binary?.attachment_0?.fileName?.toLowerCase().endsWith(\".doc\")\n}}\n",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        -112
      ],
      "id": "0399a36a-732c-4f76-934d-b1ecff912510",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1248,
        -112
      ],
      "id": "401ce920-fa5d-4e51-9d70-feedd661fe02",
      "name": "Get a message",
      "webhookId": "01d92cf4-c6d6-4150-b86b-9a415d8ee34e",
      "credentials": {
        "gmailOAuth2": {
          "id": "Us7NqZa4TiXnmrCb",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7b035d79-3fdd-4a7c-9a42-9e3b257d881f",
              "leftValue": "={{$binary?.attachment_0?.fileName?.toLowerCase().endsWith(\".pdf\")}}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -832,
        -128
      ],
      "id": "66ecacc3-062a-4901-89fc-c38e620ac65a",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -608,
        -208
      ],
      "id": "9fd798a7-3c94-4127-a007-60a852b5303b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "attachment_0",
        "destinationKey": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -592,
        0
      ],
      "id": "4a462dc0-238e-4c78-a0b4-7d2ba4a7bbb6",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a resume parsing assistant.\nExtract the following details from the given resume text:\n- Full Name\n- Email Address\n- Phone Number\n- Skills (comma separated list)\n\nReturn the result as a JSON object only:\n{\n  \"name\": \"\",\n  \"email\": \"\",\n  \"phone\": \"\",\n  \"skills\": []\n}\n\nResume Text:\n{{ $json[\"text\"] }}\n\nthis is my prompt"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -368,
        -128
      ],
      "id": "bc4a3b92-5dcf-4a6c-bfe5-db5b05899cb0",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "DLRI1RKRxtixt5c3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b372cab4-eb71-4d04-9240-b36e4bfa0e83",
              "name": "Name",
              "value": "={{ JSON.parse($json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"]).name }}",
              "type": "string"
            },
            {
              "id": "15f4dca6-03a7-4268-bba2-052a91e7e8ae",
              "name": "Email",
              "value": "={{ JSON.parse($json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"]).email }}",
              "type": "string"
            },
            {
              "id": "a9800fd8-bcbc-4fc0-a64e-9ea1b3bf337b",
              "name": "Phone",
              "value": "={{ \"(+91) \" + JSON.parse($json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"]).phone.replace(/[^0-9]/g, \"\").slice(-10) }}\n",
              "type": "string"
            },
            {
              "id": "56569c15-912a-43c5-b596-8dd0a96bf8fb",
              "name": "Skill",
              "value": "={{ JSON.parse($json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"]).skills.join(\", \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        -128
      ],
      "id": "5b12e068-9eb9-4d3c-ad60-93661c8f899e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WUyyc29MUyO-YswMQCYzN_EnxGd4oNSEqQGymgMHWtA",
          "mode": "list",
          "cachedResultName": "resume details ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WUyyc29MUyO-YswMQCYzN_EnxGd4oNSEqQGymgMHWtA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WUyyc29MUyO-YswMQCYzN_EnxGd4oNSEqQGymgMHWtA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Number": "={{ $json.Phone }}",
            "Skills": "={{ $json.Skill }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        -128
      ],
      "id": "7a5cb37f-bb79-43d6-bf3b-4de537881ac1",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hVdKahECNfNI8bBr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "attachment_0",
        "name": "={{ $json.from.value[0].address }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1v5cNVzonziPZFoGqWL-OGSgsCf0LW0N4",
          "mode": "list",
          "cachedResultName": "Resume ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1v5cNVzonziPZFoGqWL-OGSgsCf0LW0N4"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -640,
        -368
      ],
      "id": "07a44c74-f47c-4b6e-911a-d06cf124faeb",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gCMju1vBSixGbkDf",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "42640ba9-b99a-4adc-8d65-e7000c898a43",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5059f03bd7fce2bda1925375f4c07d289d1d60ca9216010e599729d939d0a454"
  },
  "id": "yPaNX213u8ScVFoQ",
  "tags": []
}